<%- include('../partials/admin/header') %>
<%- include('../partials/admin/sidebar') %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">




<link rel="stylesheet" href="/admincss/addproduct.css">

<form class="add-product-form" action="/admin/add-product" method="post" enctype="multipart/form-data">
    <label for="product-name">Product Name</label>
    <input type="text" id="product-name" class="custom-width" placeholder="Enter product name" name="name" >

    <label for="description">Description</label>
    <textarea id="description" class="custom-width" placeholder="Enter description" name="description" ></textarea>

    <label for="image-upload">Upload Product Images</label>
    <input type="file" id="image-upload" class="custom-width" accept="image/*" name="images" multiple onchange="openCropper(event)">

    <!-- Cropper Modal -->
    <div id="cropper-modal" style="display:none; position:fixed; top:10%; left:10%; width:80%; background:white; z-index:1000; padding:20px; border:1px solid #ccc;">
        <div style="text-align:center;">
            <img id="cropper-image" style="max-width:100%; max-height:500px;" />
        </div>
        <button id="crop-button" >Crop</button>
        <button onclick="closeCropper()" >Cancel</button>
    </div>

    <div id="image-preview" class="image-preview-container"></div>

    <label for="category">Category</label>
    <select id="category" class="custom-width" name="category" >
        <option value="">Select a category</option>
        <% categories.forEach(category => { %>
            <option value="<%= category.name %>"><%= category.name %></option>
        <% }) %>
    </select>

    <label for="offers">Offers</label>
    <select id="offers" class="custom-width" name="offer" >
        <option value="">Choose offer</option>
        <% offers.forEach(offer => { %>
        <option value="<%= offer.offerName %>"><%= offer.offerName %></option>
            <% }) %>
    </select>


    <label for="price">Base Price</label>
    <input type="text" id="price" class="custom-width" placeholder="Enter price" name="price" >

    <label for="brand">Brand</label>
    <input type="text" id="brand" class="custom-width" placeholder="Enter brand name" name="brand" >

  <label>Variants:</label>
<div id="variant-container">
</div>
<button type="button" onclick="addVariant()" style="background-color: green;">Add Variant</button>
    <button type="submit" class="submit-btn" >Add Product</button>
</form>


<script src="/jsAdmin/Addproducts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<%- include('../partials/admin/footer') %>