<%- include('../partials/admin/header') %>
<%- include('../partials/admin/sidebar') %>
<link rel="stylesheet" href="/admincss/createOffer.css">

<div class="table-container">
    <a href="/admin/add-offer" type="button" class="btn btn-success" style="margin: 0px 20px ; width: 90px;">Add Offers</a>
    <br>
    <br>
    <table>
      <thead>
        <tr>
          <th>Offer Name</th>
          <th>Offer Type</th>
          <th>Discount Type</th>
          <th>Discount Value</th>
          <th>Minimum Order Value</th>
          <th>Starting Date</th>
          <th>Expiry Date</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <% offers.forEach(offer => { %>
      <tbody>
        <tr>
          <td><%= offer.offerName %></td>
          <td><%= offer.offerType %></td>
          <td><%= offer.discountType %></td>
          <td><%= offer.discountValue %>%</td>
          <td>$<%= offer.minimumOrderValue %></td>
          <td ><%= new Date(offer.StartingDate).toLocaleString('en-IN', { 
            timeZone: 'Asia/Kolkata', 
            day: '2-digit', 
            month: '2-digit', 
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            hour12: true 
          }) %></td>
          <td ><%= new Date(offer.expiryDate).toLocaleString('en-IN', { 
            timeZone: 'Asia/Kolkata', 
            day: '2-digit', 
            month: '2-digit', 
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            hour12: true 
          }) %></td>
          <td ><%= offer.isActive %> </td>
          <td class="action-icons" style="display: flex;">
            <a href="/admin/edit-Offer/<%= offer._id %>" style="text-decoration: none;">
              <i>&#9998;</i>
            </a>
           
        </td>
        </tr>
      </tbody>
    <% }) %>
    </table>

    <div class="pagination">
      <% if (currentPage > 1) { %>
        <a href="/admin//offer?page=<%= currentPage - 1 %>" class="page-btn">Previous</a>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="/admin//offer?page=<%= i %>" class="page-btn <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <a href="/admin//offer?page=<%= currentPage + 1 %>" class="page-btn">Next</a>
      <% } %>
    </div>

  </div>


<%- include('../partials/admin/footer') %>