<%- include('../partials/admin/header') %>
<%- include('../partials/admin/sidebar') %>
<link rel="stylesheet" href="/admincss/order.css">
<div class="order-table-container">
    <h2>Order Management</h2>
    Total Orders:<%= orders.length %>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Order ID</th>
                <th>Product</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Total</th>
                <th>Payment</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <% order.forEach((order,index)=>{ %>
        <tbody>
            <tr>
                <td><%= index + 1 %></td>
                <td><a href="#"><%= order.orderId %></a></td>
                <td><%= order.cartItems.length %> Products</td>
                <td>11</td>
                <td><%= order.address?.firstName %></td>
                <td><%= order.totalPrice %></td>
                <td><%= order.paymentMethod %></td>
                <% if (order.orderStatus === "Pending" ) { %>
                <td><span class="status in-progress" style="background-color: #ff9800; color: white;"><%= order.orderStatus %></span></td>
                <% } else if (order.orderStatus === "Cancelled"){  %>
                <td><span class="status in-progress" style="background-color: #e84a00; color: white;"><%= order.orderStatus %></span></td>
              <% }else if (order.orderStatus === "Delivered"){ %>
                <td><span class="status in-progress" style="background-color: #00e842; color: white;"><%= order.orderStatus %></span></td>
                <% }else if (order.orderStatus === "Returned"){ %>
                  <td><span class="status in-progress" style="background-color: #f1f50a; color: white;"><%= order.orderStatus %></span></td>
                  <% } %> %>
                <td class="action-icons">
                    <a href="/admin/order-deatails/<%= order._id%>" style="text-decoration: none;"><i >&#9998;</i></a>
                </td>
          
            </tr>
        </tbody>
        <%  }) %>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <% if (currentPage > 1) { %>
          <a href="/admin/order-management?page=<%= currentPage - 1 %>" class="page-btn">Previous</a>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/admin/order-management?page=<%= i %>" class="page-btn <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
        <% if (currentPage < totalPages) { %>
          <a href="/admin/order-management?page=<%= currentPage + 1 %>" class="page-btn">Next</a>
        <% } %>
      </div>
</div>

<%- include('../partials/admin/footer') %>