<%- include('../partials/admin/header') %>
<%- include('../partials/admin/sidebar') %>
<link rel="stylesheet" href="/admincss/product.css">

<div class="admin-dashboard">
    <header class="dashboard-header">
        <h1>Product Management</h1>
        <button class="add-product-btn" onclick="addproducts()">Add Product</button>
    </header>

    <div class="product-grid" >
        <!-- Dynamically Render Products -->
        <% products.forEach(product => { %>
            <div class="product-card" id="card-product-<%= product._id %>">
                <img src="/uploads/<%= product.image[0] %>" alt="<%= product.name %>" class="product-image">
                <h2 class="product-name"><%= product.name %></h2>
                <p class="product-price">₹<%= product.price %></p>
                <p class="product-rating">⭐⭐⭐⭐⭐ (<%= product.rating %>)</p>
                <div class="edsp">
                    <button class="edit-btn" onclick="editproduct('<%= product._id %>')">Edit Product</button>
                    <img onclick="deleteproduct('<%= product._id %>')" 
                         style="margin-top: 25px; width: 20px; height: 20px;" 
                         src="/images/fi-sr-trash.png" 
                         alt="trash">
                </div>
            </div>
        <% }) %>
    </div>

    <div class="pagination">
      <% if (currentPage > 1) { %>
        <a href="/admin/products?page=<%= currentPage - 1 %>" class="page-btn">Previous</a>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="/admin/products?page=<%= i %>" class="page-btn <%= i === currentPage ? 'active' : '' %>"><%= i %></a>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <a href="/admin/products?page=<%= currentPage + 1 %>" class="page-btn">Next</a>
      <% } %>
    </div>

    
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/jsAdmin/products.js"></script>

<%- include('../partials/admin/footer') %>
