<%- include('../partials/user/header') %>
<%- include('../partials/user/navbar') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="/css/saveAddress.css">
<div class="container-sm">
  <%- include('../partials/user/sidebaruser') %>
 
  <div class="container-savedaddress">
    <div class="header">Manage Addresses</div>
    <a href="/add-address" class="add-address-btn">+ Add a New Address</a>
    <% if (address && address.length > 0) { %>
      <% address.forEach(address => { %>
        <div class="address-card">
          <div class="address-details">
            <div class="address-tag">HOME</div>
            <strong><%= address.name %></strong> <br>
            Phone: <strong><%= address.phone %></strong> <br>
            <%= address.companyname %>, <%= address.streetaddress %> <%= address.appartment %>, <%= address.city %>, <%= address.email %>- <strong>670511</strong>
          </div>
          <div class="actions">
            <button onclick="editaddress('<%= address._id %>')" class="action-btn" title="Edit">&#9998;</button>
            <button onclick="deleteaddress('<%= address._id %>')" class="action-btn" title="Delete">&#128465;</button>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <p>No addresses found.</p>
    <% } %>
    
  </div>


</div>
</div>
<script src="/js/saveAddress.js"></script>

<%- include('../partials/user/footer') %>